<!DOCTYPE html>
<html>
<head>
	<title>Computing Homework</title>
	<link rel="stylesheet" type="text/css" href="static/createform.css">
</head>
<body>
	<div id="header">
		<a id = "headertitle"href="/">Create SQL</a>
	</div>
	<form method="POST" action="/createsql2" enctype=multipart/form-data>
		<p>This follows the same rules as the <a href="/createform">create form command</a>.</p>

		<label><b>Create SQL Command:</b></label>
		<input type="file" name="createsql_command">
		<button type="submit">Create SQL</button>
	</form>
</body>
</html>