<!DOCTYPE html>
<html>
<head>
	<title>Computing Homework</title>
	<link rel="stylesheet" type="text/css" href="static/createform.css">
</head>
<body>
	<div id="header">
		<a id = "headertitle"href="/task2">Create Navigation Bar</a>
	</div>
	<form action="/navbar2" method="POST" enctype="multipart/form-data">
		<p>
			The navbar command should contain the following:
			<ol>
				<li>Title</li>
				<li>Number of tabs</li>
				<li>
					The following lines should detail each tab in the format:
					(tab_name),(link). There should be no spaces before or after the comma.
				</li>
			</ol>
		</p>
		<label for="command">Create Nav Bar:<br/><br/></label>
		<input type="file" name="command">
		<br/>
		<br/>
		<input type="submit" name="Submit">
	</form>
</body>
</html>