<!DOCTYPE html>
<html>

<head>
    <title>December Homework</title>
    <link rel="stylesheet" type="text/css" href="static/home.css">
</head>

<body>
    <div id="header">
        <a id="headertitle" href="/">Task 2</a>
    </div>
    <div id="container">
        <a class="task" href="/createform">
            <p>Create Form (Task 1)</p>
        </a>
        <a class="task" href="/createsql">
            <p>Create SQL (Task 1)</p>
        </a>
        <a class="task" href="/navbar">
            <p>Navigation Bar</p>
        </a>
    </div>
</body>

</html>