<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0:">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="Web/4_9/flask_project/static/form1.css"></link>
    <title>Document</title>
</head>

<body>
    <form action="#" method="GET">
        <div class="row">
            <label>Name</label>
            <!-- id: for css process; name: for further process -->
            <input type="text" id="Name" name="Name">
        </div>
        <div class="row">
            <label>Email</label>
            <input type="text" id="Email" name="Email">
        </div>
        <div class="row">
            <label>Password</label>
            <input type="text" id="Password" name="Password">
        </div>
        <div class="row">
            <input type="submit" id="submit-button">
        </div>
    </form>
</body>

</html>