#top {
    text-align: center;
    background-color: crimson;
    color: white;
    border-bottom: 4px solid grey;
    
}
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
header{
    flex:100%;
}

.button {
    border-radius:1em;
    border: 5px solid grey;
    background: indianred;
    text-align: center;
    padding: 10px;
}