<html>

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .body {
            background-color: #DFC3AA;
        }
        
        select {
            padding: 10px;
            border: 0;
            font-size: 20px;
            width: 100px;
            border-radius: 0;
            border: 2px solid black;
        }
    </style>
</head>

<body>
    <div class="w3-sidebar w3-bar-block w3-blue" style="width:110px">
        <h3 class="w3-bar-item">Floors</h3>
        <a href="/admin" class="w3-bar-item w3-button" style="background-color:slateblue;">All</a> {%for i in floors%}
        <a href="/floor/{{i}}" class="w3-bar-item w3-button" style="background-color:slateblue;">{{i}}</a> {%endfor%}
    </div>
    <div style="margin-left:110px">

        <div class="row">
            <div class="w3-bar w3-blue">
                <a href="/admin" class="w3-bar-item w3-button" style="background-color:slateblue;">Home</a>
                <a href="/" class="w3-bar-item w3-button" style="background-color:slateblue;">Logout</a>
                <a href="/addLocation" class="w3-bar-item w3-button" style="background-color:slateblue;">Add
                    Location</a>
                <a href="/addLink" class="w3-bar-item w3-button" style="background-color:slateblue;">Add Link</a>
                <form action="/search" method="post">
                    <input type="text" class="w3-bar-item w3-input" placeholder="Search.." name="query">
                    <div class="button w3-bar-item w3-button w3-blue">
                        <button type="submit" style="background-color:slateblue;">Search</button>
                    </div>
            </div>
            </form>
            <div class="w3-card-4 w3-dark-grey w3-display-middle" style="width:50%; min-width:350px;">
                <header class="w3-container w3-blue">
                    <h2>Add Link</h2>
                </header>

                <form action="/link" method="POST" class="w3-container" enctype="multipart/form-data">
                    <br>
                    <label for="location1">Place to Link 1: </label>
                    <select name="location1" style="margin-right: 10px">
                        {%for i in locationNames%}
                        <option value={{i}}>{{i}}</option>
                        {%endfor%}
                    </select>
                    <br>
                    <label for="location2">Place to Link 2: </label>
                    <select name="location2">
                        {%for i in locationNames%}
                        <option value={{i}}>{{i}}</option>
                        {%endfor%}
                    </select>

                    <br><br> {% if userScrewedUp%}
                    <p class="w3-blue"> There was an error. You probably put two of the same location or tried to add a link that already exists. </p>
                    {% endif %}
                    <button type="submit" class="w3-button" style="background-color:slateblue;">Add</button>
                </form>
            </div>

        </div>

</body>

</body>

</html>