<!DOCTYPE html>
<html>

<head>
    <title>Web App Project</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .w3-card-4 {
            width: 20%;
        }
        
        .manycards {
            display: flex;
            flex-wrap: wrap;
        }
        
        body {
            background-color: grey;
        }
        
        .center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <div class="w3-sidebar w3-bar-block w3-blue" style="width:110px">
        <h3 class="w3-bar-item">Floors</h3>
        <a href="/admin" class="w3-bar-item w3-button" style="background-color:slateblue;">All</a> {%for i in floors%}
        <a href="/floor/{{i}}" class="w3-bar-item w3-button" style="background-color:slateblue;">{{i}}</a> {%endfor%}
    </div>
    <div style="margin-left:110px">
        <div class="row">
            <div class="w3-bar w3-blue">
                <a href="/admin" class="w3-bar-item w3-button" style="background-color:slateblue;">Home</a>
                <a href="/" class="w3-bar-item w3-button" style="background-color:slateblue;">Logout</a>
                <a href="/addLocation" class="w3-bar-item w3-button" style="background-color:slateblue;">Add Location</a>
                <a href="/addLink" class="w3-bar-item w3-button" style="background-color:slateblue;">Add Link</a>
                <form action="/search" method="post">
                    <input type="text" class="w3-bar-item w3-input" placeholder="Search..." name="query">
                    <div class="button w3-bar-item w3-button" style="background-color:slateblue;">
                        <button type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="manycards">
            {%for i in res%}
            <div class="w3-card-4" style="min-width: 200px;">

                <header class="w3-container w3-light-grey w3-center" style="position:relative;">
                    <a href="/delete/{{i[0]}}">
                        <div class="w3-button w3-block" style="width:50px;  margin: 0; position:absolute; top:0; right:0; z-index: 100; background-color:slateblue;">
                            X
                        </div>
                    </a>
                    <img src="/static/images/{{i[2]}}" class="center" style="height:8em; width:auto; max-width: 100%;">
                </header>

                <a href="/item/{{i[0]}}">
                    <div class="w3-button w3-center w3-block" style="background-color:slateblue;">
                        {{i[0]}}
                    </div>
                </a>


                <a href="/edit/{{i[0]}}">
                    <button class="w3-button w3-block" style="background-color:slateblue;"><u> Edit </u></button>
                </a>

            </div>
            {%endfor%}
        </div>
    </div>

</body>

</html>