<!DOCTYPE html>
<html>

<head>
    <title>Rua</title>
    <link rel="stylesheet" href="/static/login.css" />
</head>

<body>
    <h1>Login</h1>
    <form action="/login" method="POST" enctype="multipart/form-data">
        <div>
            <label for="name">User name</label>
            <input type="text" id="name" name="name">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="text" id="password" name="password">
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</body>

</html>